.header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.2s;
}
.header_left {
  flex: 1 0;
  display: flex;
  flex-flow: column wrap;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  line-height: 30px;
}
.header_left1 {
  color: white;
  text-decoration: none;
}
.header_left1:hover {
  color: white;
  text-decoration: underline;
}
.header_left1:visited {
  text-decoration: none;
}
.header_middle {
  flex: 2 0;
  text-align: center;
}
.header_middle-image {
  width: 100%;
  max-width: 250px;
  height: auto;
}
.header_right {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
}
.header_righticon {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: 1.5px solid white;
  background-color: transparent;
  margin-right: 20px;
  transition: linear 0.4s;
}

:root {
  --bkgd2: #c7e0ba;
  --bkgd3: #ffeae0;
  --bkgd4: #e0eaff;
  --bkgd5: #467999;
  --bkgd6: #c9d1ff;
  --moonbite: #981c5b;
  --menu: #981c5b;
}

body {
  padding: 50px;
  margin: 0;
  width: auto;
  min-height: 100vh;
  background-image: url("images/filmcollage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.vlorabkgd {
  background-image: url("images/vloracollage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.jasminebkgd {
  background-image: url("images/jasminecollage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.lindabkgd {
  background-image: url("images/lindacollage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.mandalynbkgd {
  background-image: url("images/mandalyncollage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

#confetti {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.fab.fa-instagram, .fab.fa-youtube {
  color: white;
  transform: scale(1.4);
  transition: linear 0.4s;
}

.content {
  font-family: "Courier New", Courier, monospace;
  font-size: 150px;
}

.shop {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #bda397;
  opacity: 0.9;
  transition: 1s ease;
}
.shop_top {
  flex: 1 0;
  position: relative;
  margin-top: 100px;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  opacity: 0;
  transition: opacity 1s ease-in;
}
.shop_toptext {
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  color: white;
  text-align: center;
  /* Centered text/links */
  opacity: 0;
  transition: opacity 1s ease-in;
  margin: 0px 50px 0px 50px;
}
.shop_bottom {
  flex: 1 0;
  font-family: "Roboto Mono", monospace;
  margin: 0px 50px 0px 50px;
  font-size: 50px;
  color: white;
  text-align: center;
  /* Centered text/links */
  opacity: 0;
  transition: opacity 1s ease-in;
}
.shop_exit {
  flex: 1 0;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  transition: opacity 1s ease-in;
  margin: 0px 50px 0px 50px;
}

#exitbtn {
  transition: 0.3s;
  transition-timing-function: linear;
}

#exitbtn:hover {
  color: white;
  font-size: 35px;
  text-decoration: none;
}

#countdown {
  margin-top: 0px;
  font-weight: 600;
}

@font-face {
  font-family: Namskin;
  src: url(namskin.otf);
}
.us {
  display: flex;
  flex-flow: row wrap;
  margin: 80px 150px 150px 150px;
}
.us_1 {
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
}
.us_2 {
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
}
.us_3 {
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
}
.us_4 {
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
}
.us_1text, .us_2text, .us_3text, .us_4text {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 18px;
  margin: 30px 30px 10px 30px;
  font-weight: 600;
}
.us_1text2, .us_2text2, .us_3text2, .us_4text2 {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 15px;
  margin: 0;
}

.us_portrait1, .us_portrait2, .us_portrait3, .us_portrait4 {
  width: 100%;
  height: auto;
  object-fit: fill;
  transition: 0.2s linear;
}

.us_portrait1:hover, .us_portrait2:hover, .us_portrait3:hover, .us_portrait4:hover {
  transform: scale(1.1);
}

.intro {
  display: flex;
  flex-flow: column wrap;
}
.intro_header {
  font-family: Namskin;
  color: white;
  letter-spacing: -5px;
  font-size: 60px;
  text-align: center;
}
.intro_text {
  margin: 40px 170px 150px 170px;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.header1 {
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.header1_text {
  font-family: Namskin;
  color: white;
  letter-spacing: -5px;
  font-size: 60px;
  text-align: center;
}

.bio {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  margin: 50px 130px 0px 130px;
}
.bio_image {
  flex: 1 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  margin-right: 50px;
}
.bio_imagevlora {
  width: 70%;
  height: 80%;
  object-fit: fill;
}
.bio_hover {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 12px;
}
.bio_text {
  flex: 2 0;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 15px;
  line-height: 26px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 400;
}

.bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  margin: 0px 130px 0px 130px;
}
.bottom_funfacts {
  flex: 2 0;
  display: flex;
  flex-flow: column wrap;
  margin-right: 50px;
}
.bottom_funfacts-header {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}
.bottom_funfacts-text {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 18px;
  padding: 0px;
  list-style-position: inside;
  margin: 0;
  font-weight: 400;
}
.bottom_vloraspotify {
  flex: 1 0;
  display: flex;
  flex-flow: column wrap;
  margin-left: 50px;
}
.bottom_vloraspotify-text {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.break1 {
  position: relative;
  text-align: center;
  margin-top: 150px;
}
.break1_text {
  font-family: Namskin;
  color: white;
  letter-spacing: -2px;
  font-size: 50px;
}

.break2 {
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.break2_text {
  font-family: Namskin;
  color: white;
  letter-spacing: -2px;
  font-size: 50px;
}

.break3 {
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.break3_text {
  font-family: Namskin;
  color: white;
  letter-spacing: -2px;
  font-size: 50px;
}

.horoscope {
  display: flex;
  text-align: center;
}
.horoscope_text {
  flex: 1 0;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

@font-face {
  font-family: Magiel;
  src: url(Magiel-Black.otf);
}
.news_header {
  margin: 120px 120px 150px 120px;
  font-family: Namskin;
  font-size: 20px;
  color: white;
}

.news_text {
  position: relative;
  margin: 50px 120px 80px 120px;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.news {
  display: flex;
  flex-flow: row wrap;
  margin: 80px 150px 150px 150px;
}
.news_1, .news_2 {
  display: flex;
  align-items: center;
  flex: 1 0;
  width: 300px;
  height: 250px;
  margin: 20px;
}
.news_1text, .news_2text {
  text-align: center;
  margin: auto;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.confetti-link {
  position: absolute;
  left: 120px;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 15px;
}

.interactive {
  display: flex;
  align-items: center;
  flex: 1 0;
  width: 300px;
  height: 250px;
  background-color: red;
  margin: 20px;
  transition: 0.3s ease-in-out;
  border: 2px solid white;
}

.interactive:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
