@font-face {
    font-family: Namskin;
    src: url(namskin.otf);
}
  
.us {
    display: flex;
    flex-flow: row wrap;
    margin: 80px 150px 150px 150px;

    &_1 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        // margin: 15px;
    }

    &_2 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        // margin: 15px;
    }

    &_3 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        // margin: 15px;
    }

    &_4 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        // margin: 15px;
    }

    &_1text, &_2text, &_3text, &_4text {
        font-family: 'Courier New', Courier, monospace;
        color: var(--moonbite);
        font-size: 18px;
        margin: 30px 30px 10px 30px;
        font-weight: bold;
    }


    &_1text2, &_2text2, &_3text2, &_4text2 {
        font-family: 'Courier New', Courier, monospace;
        color: var(--moonbite);
        font-size: 15px;
        margin: 0;
    }

    &_1text3, &_2text3, &_3text3, &_4text3 {
        font-family: 'Courier New', Courier, monospace;
        color: var(--moonbite);
        font-size: 10px;
        margin-top: 10px;
        font-weight: bold;

    }
}


.us_portrait1, .us_portrait2, .us_portrait3, .us_portrait4 {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.intro {
    display: flex;
    flex-flow: column wrap;

    &_header {
        font-family: Namskin;
        color: var(--moonbite);
        letter-spacing: -8px;
        font-size: 70px;
        text-align: center;
    }

    &_text {
        margin: 40px 170px 150px 170px;
        font-family: 'Courier New', Courier, monospace;
        color: var(--moonbite);
        font-size: 15px;
    }
}
