@font-face {
    font-family: Namskin;
    src: url(namskin.otf);
}

.us {
    display: flex;
    flex-flow: row wrap;
    margin: 80px 150px 150px 150px;

    &_1 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
    }

    &_2 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
    }

    &_3 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
    }

    &_4 {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
    }

    &_1text, &_2text, &_3text, &_4text {
        font-family: 'Roboto Mono', monospace;
        color: white;
        font-size: 18px;
        margin: 30px 30px 10px 30px;
        font-weight: 600;
    }


    &_1text2, &_2text2, &_3text2, &_4text2 {
        font-family: 'Roboto Mono', monospace;
        color: white;
        font-size: 15px;
        margin: 0;
    }
}

.us_portrait1, .us_portrait2, .us_portrait3, .us_portrait4 {
    width: 100%;
    height: auto;
    object-fit: fill;
    transition: 0.2s linear;
}

.us_portrait1:hover, .us_portrait2:hover, .us_portrait3:hover, .us_portrait4:hover {
    transform: scale(1.1);
}

.intro {
    display: flex;
    flex-flow: column wrap;

    &_header {
        font-family: Namskin;
        color: white;
        letter-spacing: -5px;
        font-size: 60px;
        text-align: center;
    }

    &_text {
        margin: 40px 170px 150px 170px;
        font-family: 'Roboto Mono', monospace;
        color: white;
        font-size: 18px;
        line-height: 26px;
    }
}

.header1 {
    position: relative;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

    &_text {
        font-family: Namskin;
        color: white;
        letter-spacing: -5px;
        font-size: 60px;
        text-align: center;
    }
}
