:root {
    --bkgd2: #c7e0ba;
    --bkgd3: #ffeae0;
    --bkgd4: #e0eaff;
    --moonbite: #981c5b;
    --menu: #981c5b;
}

body {
    padding: 50px;
    margin: 0;
    width: auto;
    min-height: 100vh;
    // background-color: var(--bkgd3);
    background-image: url("samplebackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    margin: 0;
    padding: 0;
}

