@font-face {
    font-family: Magiel;
    src: url(Magiel-Black.otf);
}

.news_header{
    margin: 120px 120px 150px 120px;
    font-family: Namskin;
    font-size: 20px;
    color: white;
}

.news_text {
    position: relative;
    margin: 50px 120px 150px 120px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.news {
    display: flex;
    flex-flow: row wrap;
    margin: 80px 150px 150px 150px;

    // &_1 {

    // }

    // &_1text {

    // }
}

.confetti-link {
    position: absolute;
    left: 120px;
    bottom: 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 20px;
}